@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: hsl(0, 0%, 98%);
    --elem: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
    --dark-bg: hsl(207, 26%, 17%);
    --dark-elem: hsl(209, 23%, 22%);
    --dark-text: hsl(0, 0%, 100%);
}

* {
    font-family: 'Nunito Sans', sans-serif;
}