@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: hsl(0, 0%, 98%);
    --elem: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
    --hover: hsl(0, 0%, 95%);
}

[data-theme="dark"] {
    --bg: hsl(207, 26%, 17%);
    --elem: hsl(209, 23%, 22%);
    --text: hsl(0, 0%, 100%);
    --hover: hsl(209, 23%, 25%);
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

.country--list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}